<!DOCTYPE html>
<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h1>Modifier un Membre Perchiste</h1>
<form method="POST">
    Nom : <input type="text" name="nom" value="{{ membre.nom }}" required><br>
    Prénom : <input type="text" name="prenom" value="{{ membre.prenom }}" required><br>
    <button type="submit">Modifier</button>
</form>
<a href="{{ url_for('perchiste.list_perchiste') }}">Retour à la liste</a>
{% endblock %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier un Membre Perchiste</title>
</head>
<body>
    <h1>Modifier un Membre Perchiste</h1>
    <form method="POST">
        Nom : <input type="text" name="nom" value="{{ membre.nom }}" required><br>
        Prénom : <input type="text" name="prenom" value="{{ membre.prenom }}" required><br>
        <button type="submit">Modifier</button>
    </form>
    <a href="{{ url_for('perchiste.list_perchiste') }}">Retour à la liste</a>
</body>
</html>