{% extends "base.html" %}

{% block title %}Liste des Programmes{% endblock %}

{% block content %}
<div class="programme-container">
    <h1>Liste des Programmes</h1>
    {% if programmes %}
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Estrade</th>
            <th>Zoom</th>
            <th>Audio</th>
            <th>Vidéo</th>
            <th>Parking</th>
            <th>Entrée</th>
            <th>Auditorium</th>
            <th>Perchiste1</th>
            <th>Perchiste2</th>
            <th>Perchiste3</th>
            <th>Perchiste4</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for programme in programmes %}
          <tr>
            <td>{{ programme.id }}</td>
            <td>{{ programme.datePlanning }}</td>
            <td>{{ programme.estrade }}</td>
            <td>{{ programme.zoom }}</td>
            <td>{{ programme.audio }}</td>
            <td>{{ programme.video }}</td>
            <td>{{ programme.parking }}</td>
            <td>{{ programme.entree }}</td>
            <td>{{ programme.auditorium }}</td>
            <td>{{ programme.perchiste1 }}</td>
            <td>{{ programme.perchiste2 }}</td>
            <td>{{ programme.perchiste3 }}</td>
            <td>{{ programme.perchiste4 }}</td>
            <td>
              <form action="{{ url_for('programme.edit_programme', id=programme.id) }}" method="get" 
                style="display:inline-block; background: none; border: none; padding: 0; margin: 0;">
                <button type="submit" class="btn-edit">Modifier</button>
              </form>
              <form action="{{ url_for('programme.delete_programme', id=programme.id) }}" method="post" 
                style="display:inline-block; background: none; border: none; padding: 0; margin: 0;">
                <button type="submit" class="btn-delete">Supprimer</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Aucun programme trouvé.</p>
    {% endif %}
    <a href="{{ url_for('programme.generate_programme') }}">Générer un nouveau programme</a>

</div>
<a href="{{ url_for('index') }}">Retour au menu principal</a>
{% endblock %}